<div class="bg-light rounded-3 p-5 border">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>

  <hr class="my-4" />

  <p class="lead">
    <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
  </p>
  <br />
  <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
</div>

